@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables";

$primary: #96c927;
$breadcrumb-item-color: $primary;
$link: $primary;

@import "~bulma/bulma.sass";

$slider-thumb-background: findLightColor($primary);
$slider-thumb-border: 1px solid $primary;

@import "~buefy/src/scss/buefy";

a {
  text-decoration: none !important;
}

.breadcrumb ul {
  flex-wrap: nowrap;
  overflow: auto;
}
.breadcrumb li:first-child::before {
  content: "\00a0";
}

$indexSizes: ( 1, 2, 3, 4, 5, 6, 7, 8);
$bulmaSizes: ( $size-1, $size-2, $size-3, $size-4, $size-5, $size-6, $size-7, 0.5em );
$positions: ( "top", "left", "bottom", "right" );
$attributes: ( "margin", "padding" );
$i: 1;
@each $size in $indexSizes {
  $sizeem: nth($bulmaSizes, $i);
  $i: $i+1;
  @each $attribute in $attributes {
    .has-#{$attribute}-#{$size} {
      #{$attribute}: $sizeem !important;
    }
    .has-#{$attribute}-horizontal-#{$size} {
      #{$attribute}-left: $sizeem !important;
      #{$attribute}-right: $sizeem !important;
    }
    .has-#{$attribute}-vertical-#{$size} {
      #{$attribute}-top: $sizeem !important;
      #{$attribute}-bottom: $sizeem !important;
    }
    @each $position in $positions {
      .has-#{$attribute}-#{$position}-#{$size} {
        #{$attribute}-#{$position}: $sizeem !important;
      }
    }
  }
}

@each $name, $pair in $colors {
  $color: nth($pair, 1);
  .buttons.has-addons .button.is-#{$name} {
    border-color: rgba(lighten($color, 20%), 0.4)
  }
  .buttons.has-addons .button.is-#{$name}.is-light {
    border-color: rgba($color, 0.2)
  }
}

@include mobile {
  .button .is-icon-mobile:first-child:not(:last-child) {
    margin-left: unset;
    margin-right: unset;
  }
  .hero-body {
    padding: 1rem 0.5rem;
  }
}

.fa-ml {
  margin-left: 0.4em;
}
.fa-mr {
  margin-right: 0.4em;
}

.is-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-flex-grow {
  flex-grow: 2 !important;
}

.sync-mobile {
  margin-left: auto;
  flex-direction: row-reverse;
  flex-grow: 2 !important;
}
