@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables";

$primary: #96c927;
$breadcrumb-item-color: $primary;
$link: $primary;
$navbar-breakpoint: 300px;

@import "~bulma/bulma.sass";

$slider-thumb-background: findLightColor($primary);
$slider-thumb-border: 1px solid $primary;

.navbar .router-link-active :not(.notification-counter) {
  color: $primary !important
}

.sidebar-content .router-link-exact-active :not(.notification-counter) {
  color: $primary !important
}
.sidebar-content img {
  max-height: 3.5rem;
}

@import "~buefy/src/scss/buefy";

[data-theme="dark"] {
  $primary: #cce49b;
  $dt-black: #191919;
  $dt-black-bis: #232323;
  $dt-black-ter: #292929;
  background-color: $dt-black;
  .has-background-white-bis {
    background-color: $dt-black-ter !important;
  }
  .is-light {
    background-color: $dt-black !important;
  }
  .message.is-light {
    background-color: darken($dt-black-bis, 1%) !important;
  }
  .message.is-light .message-header {
    background-color: darken($dt-black-bis, 2%) !important;
    color: $grey-light !important;
  }
  .menu-list li ul {
    border-left-color: $grey-darker;
  }
  .menu-list a:hover:not(.is-active) {
    background-color: $dt-black !important;
  }
  .has-text-grey {
    color: $grey-light !important;
  }
  .card-header-title,
  .breadcrumb li.is-active a {
    color: $grey-light !important;
  }
  .box,
  .card {
    color: $grey-light;
    background-color: $dt-black-bis;
  }
  .title {
    color: $grey-lighter;
  }
  :not(.notification) > .subtitle,
  .menu-label,
  .menu-list a:not(.is-active) {
    color: $grey-light;
  }
  .notification.is-primary {
    background-color: #96c927bd;
  }
  .input {
    background-color: $dt-black-ter;
    border-color: $dt-black-bis;
    color: $grey-lightest;
  }
  input::placeholder {
    color: $grey;
  }
  .control.has-icons-left .icon,
  .control.has-icons-right .icon {
    color: $grey;
  }
  .control.has-icons-left .input:focus ~ .icon,
  .control.has-icons-right .input:focus ~ .icon {
    color: $grey-light;
  }
  .navbar-dropdown {
    background-color: $dt-black-ter;
    border-top-color: $dt-black-bis;
    .navbar-item {
      color: $grey-light;
    }
    a.navbar-item:focus, a.navbar-item:hover {
      background-color: $dt-black-bis;
      color: $grey-lighter;
    }
  }
  .table {
    background-color: $dt-black;
    color: $grey-lighter;
    thead td, .thead th {
      color: $grey-lighter;
    }
    td, th {
      border-color: $dt-black-ter;
    }
  }
  .table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
    background-color: $dt-black-bis;
  }
  .datepicker {
    .dropdown-content {
      background-color: $dt-black-ter;
    }
    .datepicker-table .datepicker-body {
      .datepicker-cell.is-selectable {
        color: $grey-lighter;
      }
      .datepicker-cell.is-unselectable {
        color: $grey;
      }
    }
    .datepicker-header {
      border-bottom-color: $dt-black;
    }
    .datepicker-footer {
      border-top-color: $dt-black;
    }
  }
  select {
    background-color: $dt-black-ter;
    border-color: $dt-black-bis;
    color: $grey-lighter;
  }
  .pagination-previous, .pagination-next, .pagination-link {
    border-color: $dt-black-bis;
  }
  .dropdown-content {
    background-color: $dt-black-ter;
    .dropdown-item {
      color: $grey-light;
    }
    a.dropdown-item:focus, a.dropdown-item:hover {
      background-color: $dt-black-bis;
      color: $grey-lighter;
    }
  }
  .notification {
    background-color: $dt-black-ter;
    color: $grey-lighter;
  }
}

a {
  text-decoration: none !important;
}

.breadcrumb ul {
  flex-wrap: nowrap;
  overflow: auto;
}
.breadcrumb li:first-child::before {
  content: "\00a0";
}

$indexSizes: ( 1, 2, 3, 4, 5, 6, 7, 8);
$bulmaSizes: ( $size-1, $size-2, $size-3, $size-4, $size-5, $size-6, $size-7, 0.5em );
$positions: ( "top", "left", "bottom", "right" );
$attributes: ( "margin", "padding" );
$i: 1;
@each $size in $indexSizes {
  $sizeem: nth($bulmaSizes, $i);
  $i: $i+1;
  @each $attribute in $attributes {
    .has-#{$attribute}-#{$size} {
      #{$attribute}: $sizeem !important;
    }
    .has-#{$attribute}-horizontal-#{$size} {
      #{$attribute}-left: $sizeem !important;
      #{$attribute}-right: $sizeem !important;
    }
    .has-#{$attribute}-vertical-#{$size} {
      #{$attribute}-top: $sizeem !important;
      #{$attribute}-bottom: $sizeem !important;
    }
    @each $position in $positions {
      .has-#{$attribute}-#{$position}-#{$size} {
        #{$attribute}-#{$position}: $sizeem !important;
      }
    }
  }
}

@each $name, $pair in $colors {
  $color: nth($pair, 1);
  .buttons.has-addons .button.is-#{$name} {
    border-color: rgba(lighten($color, 20%), 0.4)
  }
  .buttons.has-addons .button.is-#{$name}.is-light {
    border-color: rgba($color, 0.2)
  }
}

@include mobile {
  .button .is-icon-mobile:first-child:not(:last-child) {
    margin-left: unset;
    margin-right: unset;
  }
  .hero-body {
    padding: 1rem 0.5rem;
  }
}

.fa-ml {
  margin-left: 0.4em;
}
.fa-mr {
  margin-right: 0.4em;
}

.is-flex-center {
  display: flex;
  align-items: center;
}

.is-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-flex-grow {
  flex-grow: 2 !important;
}

.is-navbar-label {
  @include until($navbar-breakpoint) {
      display: initial !important;
    }
  @include from($navbar-breakpoint) {
    @include mobile {
      display: none !important;
    }
  }
}

.sync-tablet {
  @include until($navbar-breakpoint) {
    display: none !important;
  }
}

.sync-mobile {
  margin-left: auto;
  flex-direction: row-reverse;
  flex-grow: 2 !important;
  @include from($navbar-breakpoint) {
    display: none !important;
  }
}

.navbar .is-auto-expand {
  width:40px;
}

.navbar .is-auto-expand:not(.is-expanded) input {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.navbar .is-auto-expand:not(.is-expanded) .icon {
  color: #fff !important;
}

.navbar .is-auto-expand.is-expanded {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  padding: 0.5em;
}

.navbar .is-auto-expand:not(.is-expanded) .dropdown-menu {
  display: none;
}

.navbar .is-auto-expand .delete {
  position: fixed;
  right: 18px;
  top: 14px;
}

table.is-vertical-centered td, table.is-vertical-centered th {
  vertical-align: middle;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: -100%;
  }
}
.loading-info {
  width: 100%;
  border-radius: 0.25em;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(45deg, hsl(0, 0%, 94%) 8%, hsl(0, 0%, 90%) 18%, hsl(0, 0%, 94%) 33%);
  background-size: 300% 100%;
}
.loading-info::after {
  content: ".";
  visibility: hidden;
}

.loading-overlay {
  z-index: 29;
}

.is-required .label::after {
  content: " *";
  color: $danger;
}

.is-selectable {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.is-selectable-all {
  user-select: text;
  -webkit-user-select: text;
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: text;
  user-select: all;
}

.scenario-element:not(:last-child) {
  margin-bottom: 0.75rem;
}
.scenario-element > fieldset {
  width: 100%;
}
.scenario-element .scenario-rule,
.scenario-element .scenario-ask {
  border-left: lightgray solid;
}

body > .autocomplete .dropdown-menu {
  min-width: unset;
}

.tree {
  position: relative;

  ul {
    padding-left: 0.5em;

    li {
      position: relative;
      padding-top: 0.5em;
      padding-left: 1.5em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &:before {
        position: absolute;
        top: 1.2em;
        left: 0;
        width: 1em;
        height: 1px;
        margin: auto;
        content: '';
        background-color: $grey-light;
      }

      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 100%;
        content: '';
        background-color: $grey-light;
      }

      &:last-child:after {
        height: 1.2em;
      }
    }
  }
}
